{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}

{{- with site.Params.analytics.umami }}
<script defer src="{{ .scriptURL }}" data-website-id="{{ .siteID }}"></script>
{{- end}}

{{- range site.Params.customJS }}
{{- if not site.Params.assets.disableFingerprinting }}
{{- $script := resources.Get . | minify | fingerprint "sha512" }}
<script defer src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity }}"></script>
{{- else }}
{{- $script := resources.Get .}}
<script defer src="{{ $script.RelPermalink }}"></script>
{{- end }}
{{- end}}
